body {
    position: relative;
}
.table-metadata {
    word-break: break-all;
}

.navbar-side.affix {
    top:10px;
}

.navbar-side> .nav> li> a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400;
}

.navbar-side> .nav> .active> a {

    font-weight: 700;
    border-left: 3px solid #337ab7;
}

.version-form {
    margin: 30px 0px;
}

.version-form input[type=text], .checkbox {
    margin-right: 2em;
}

.table>tbody>tr.add>td {
    background-color: #dff0d8;
}

.table>tbody>tr.delete>td {
    background-color: #f2dede;
}

.deprecated {
    text-decoration: line-through
}