<table class="table table-hover table-metadata" id="{{anchorName}}">
    <caption>Group "{{id}}"</caption>
    <thead>
    <tr>
        <th class="col-md-6">{{previousVersion}}</th>
        <th class="col-md-6">{{nextVersion}}</th>
    </tr>
    </thead>
    <tbody>
    {{#properties}}
    <tr class="{{cssClass}}">
        <td>
            {{#previous}}
                {{^deprecated}}
                <span title="{{description}}">{{name}}</span>
                {{/deprecated}}
                {{#deprecated}}
                <span title="{{reason}}" class="deprecated">{{name}}</span>
                {{/deprecated}}
            {{/previous}}
        </td>
        <td>
            {{#next}}
                {{^deprecated}}
                <span title="{{description}}">{{name}}</span>
                {{/deprecated}}
                {{#deprecated}}
                <span title="{{reason}}" class="deprecated">{{name}}</span>
                {{/deprecated}}
            {{/next}}
        </td>
    </tr>
    {{/properties}}
    </tbody>
</table>
