<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spring Boot 4TW</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body data-spy="scroll" data-target=".navbar-side">
<div class="container">

    <header>
        <div class="page-header">
            <h1><a href="/">Spring Boot Metadata</a> <small>diff generator</small></h1>
        </div>
    </header>

    <div class="row">
        <div class="col-md-9">
            <form class="form-inline version-form" id="compare" action="">
                <div class="form-group">
                    <label class="sr-only" for="fromVersion">From version</label>
                    <input type="text" size="30" class="form-control" id="fromVersion"
                           name="fromVersion" placeholder="from Version" value="{{previousVersion}}">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="toVersion">To version</label>
                    <input type="text" size="30" class="form-control" id="toVersion"
                           name="toVersion" placeholder="to Version" value="{{nextVersion}}">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="full" {{#full}}checked{{/full}}> Show All
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Compare</button>
            </form>
        </div>
        <div class="col-md-9" role="main">
        {{#diffs}}
            {{>_difftable}}
        {{/diffs}}
        </div>
        <div class="col-md-3" role="complementary">
            <nav class="navbar-side" data-spy="affix" data-offset-top="10">
                <ul class="nav">
                    {{#diffs}}
                    <li><a href="#{{anchorName}}">{{id}}</a></li>
                    {{/diffs}}
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>